.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "🚀 🚀 🚀 🚀 🎅🏻 🎅🏻 🎅🏻 🎅🏻"
    "🚀 🚀 🚀 🚀 🎅🏻 🎅🏻 🎅🏻 🎅🏻"
    "🚀 🚀 🚀 🚀 🎅🏻 🎅🏻 🎅🏻 🎅🏻"
    "🚀 🚀 🚀 🚀 🎅🏻 🎅🏻 🎅🏻 🎅🏻";
}

.item-1 {
  grid-area: 🚀;
}

.item-5 {
  /* grid-area: 🎅🏻; */
}

.item-4 {
  grid-area: 🚀;
}
