.grid {
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.item:nth-child(4n) {
  background-color: darkmagenta;
  color: #fefefe;
  grid-column: span 4;
}

.item:nth-child(8n) {
  background-color: #2196f3;
  grid-column: span 7;
  grid-row: span 3;
}
