.grid {
  grid-template-columns: 200px 1fr 300px 1fr;
  grid-gap: 20px;

  grid-template-areas:
    "a a a b"
    "c c c c"
    "d d e e"
    "f g h h";
}

.item-1 {
  grid-area: a;
}

.item-3 {
  grid-area: c;
}

.item-11 {
  grid-area: h;
}
