body {
  margin: 0;
  min-height: 100vh;
}

header {
  padding: 1rem;
  background-color: var(--white);
}

nav {
  background-color: var(--white);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

form {
  display: grid;
  align-items: center;
  justify-content: center;
}

form input {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid var(--dark2);
  outline: 0;
  font-size: 1.8rem;
  box-shadow: var(--lg-shadow);
}
ul {
  display: flex;
  justify-content: space-between;
}

li a {
  color: var(--dark1);
  font-size: 1.5rem;
}

@media (max-width: 670px) {
  header,
  nav {
    background-color: var(--yellow);
  }

  nav {
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
    grid-template-columns: 1fr;
  }
  form {
    margin: 0.5rem 0;
  }
}
