.grid {
  display: grid;
  grid-gap: 20px;

  /* grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); */

  /* grid-template-columns: 1fr 10rem 2fr; */
  /* grid-template-rows: 1fr 3fr 2fr; */

  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */

  grid-template-columns: repeat(5, 1fr);
}

.item-11 {
  grid-column: span 3;
  grid-row: span 2;
}
