.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 300px 20rem 2cm;
}
/* 
.item {
  padding: 1rem;
  background: var(--yellow);
  font-size: 3.5rem;
  display: grid;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
}

.item1 {
  grid-column: 1/4;
  grid-row: 1/3;
} */

/* fundamentals */
